<div class="container mt-5">
    <h1>All Pets</h1>

    <ul>
        <% @pets.each do |pet| %>
        <li>
            <p><%= link_to pet.name.capitalize, pet_path(pet) %> (<small><%= pet.description %></small>)</p>
        </li>
        <% end %>
    </ul>
</div>